{% extends 'base.html' %}

{% block title %} Index.html {% endblock %}

{% block content %}
    <head>
        <title>Smart Calender</title>
        <meta charset="utf-8">
    </head>
    <body>
        <h2>Smart Calender!!!</h2>
        {% if request.user.is_authenticated %}
            <p>{{request.user}} 您已經登入囉</p>
            <p><a href="{% url 'logout' %}">logout</a></p>
        {% else %}
            <p>您尚未登入喔</p>
            <p><a href="{% url 'login' %}">登入</a>  <a href="{% url 'signup' %}">註冊</a></p>
            

        {% endif %}
    </body>
{% endblock %}
