{% extends 'base.html' %}

{% block title %} Smart Calender {% endblock %}

{% block content %}
  <h2>Smart Calender!!!</h2>
  {% if request.user.is_authenticated %}
    <p>使用者: {{request.user}}</p>
    <p><a href="">一個群組邀請</a></p>
    <form method="POST" action="{% url 'invite' %}">
      {% csrf_token %}
      <label for="invite_user">Invite User: </label>
      <input type="text" name="invite_user" />
      <input type="submit" />
    </form>
    <p><a href="{% url 'calendar' %}">my schedule</a></p>
    <p><a href="{% url 'logout' %}">logout</a></p>
  {% else %}
    <p>您尚未登入喔</p>
    <p><a href="{% url 'login' %}">登入</a>  <a href="{% url 'signup' %}">註冊</a></p>
      

  {% endif %}
{% endblock %}
